#experience {
  padding-bottom: 0;
  margin-bottom: 2.75rem;
}

#experience span {
  display: flex;
  flex-direction: row;
  place-content: space-between;
  gap: 1rem;
}

#experience span > h4 {
  width: fit-content;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

#experience span > p {
  width: fit-content;
  font-size: 1.2rem;
}

#experience article {
  max-width: 950px;
  margin-inline: auto;
}

.work:first-of-type {
  margin-bottom: 2rem;
}

.work > h6 {
  width: fit-content;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-color);
  margin-block: -0.5rem 1rem;
}

.work-list > li::before {
  content: "•";
  color: var(--primary-color);
  display: inline-block;
  width: 2ch;
}

.work-list > li {
  font-size: 1.4rem;
  font-weight: 400;
  margin-block: 0.5rem;
}

@media screen and (max-width: 768px) {
  #experience {
    margin-bottom: 1.5rem;
  }

  #experience span {
    flex-direction: column;
    gap: 0;
  }

  #experience span > h4 {
    font-size: 1.4rem;
    order: 2;
  }

  #experience span > p {
    font-size: 1.1rem;
    order: 1;
  }

  .work > h6 {
    font-size: 1.2rem;
  }

  .work > p {
    font-size: 1.1rem;
  }

  .work-list > li {
    font-size: 1.1rem;
  }
}
