:root {
  --background-color: hsl(220, 30%, 12%);
  --primary-color: hsl(200, 80%, 50%);
  --text-color: hsl(220, 50%, 95%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  color: var(--text-color);
  background: var(--background-color);
}

main {
  max-width: 1600px;
  padding: 0 4rem;
  margin-inline: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn {
  width: fit-content;
  display: flex;
  flex-direction: row;
  place-items: center;
  place-content: center;
  background: transparent;
  margin-block: 1rem;
  color: var(--primary-color);
  border: 3px solid var(--primary-color);
  border-radius: 8px;
  cursor: pointer;
  transition: transform 300ms;
}

.btn:hover {
  transform: translateY(-3px);
  background-color: var(--primary-color);
  color: var(--text-color);
  box-shadow: 0 5px 15px rgba(10 15 20 / 0.5);
}

.btn:focus {
  transition: transform 200ms;
  transform: translateY(3px);
}

.btn > a {
  display: flex;
  flex-direction: row;
  place-items: center;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 0.65rem 1.875rem;
}
