header {
  height: 100vh;
  width: 100%;
  max-width: 1400px;
  display: flex;
  place-items: center;
  place-content: center;
  margin-inline: auto;
  gap: 1rem;
}

#hero {
  flex-grow: 0;
  flex-shrink: 1;
  margin-left: 2rem;
}

#hero > h1 {
  font-size: 4rem;
}

#hero > p:first-of-type {
  line-height: normal;
  color: var(--primary-color);
}

#hero > p:last-of-type {
  margin-bottom: 1.5rem;
}

#bg-img {
  width: 50%;
  flex-grow: 1;
  flex-shrink: 0;
  margin-left: 1rem;
}
