nav {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgba(20 28 41 / 0.75);
  backdrop-filter: blur(8px);
  padding: 0.75rem 4rem;
  margin-block: 0.75rem -84px;
  z-index: 100;
}

#nav-content {
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-inline: auto;
}

#nav-content > a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

#nav-content > a > img {
  float: left;
}

#nav-content > a > p {
  width: max-content;
  float: left;
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--text-color);
}

#mobile-nav {
  display: none;
}

#nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 32rem;
}

#nav-links > a {
  font-size: 1.2rem;
  color: hsl(220, 25%, 75%);
  transition: color 200ms ease-in-out, transform 300ms;
}

#nav-links > a:hover {
  transform: translateY(-2px);
  color: hsl(220, 35%, 90%);
}

@media (max-width: 768px) {
  nav {
    padding: 0.7rem 2rem;
    margin-block: 0.5rem -60px;
  }

  #nav-content > a > img {
    width: 38px;
    height: 38px;
  }

  #nav-content > a {
    gap: 0.5rem;
  }

  #nav-content > a > p {
    font-size: 1.1rem;
    line-height: 1.1;
    margin-bottom: 2px;
  }

  #mobile-nav {
    display: flex;
    flex-wrap: wrap;
    text-align: end;
    font-size: 0.9rem;
  }

  #nav-links > a {
    display: none;
  }
}
