nav {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: calc(1600px - 4rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
}

a > img {
  float: left;
  margin-right: 0.75rem;
}

#logo_text {
  width: max-content;
  font-size: 1.25rem;
  float: left;
  line-height: 50px;
}

#nav_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 32rem;
}

#nav_links > a {
  font-size: 1.25rem;
  color: rgba(232 237 247 / 0.75);
}
